* {
  box-sizing: border-box;
}

#app {
  font-size: 5em;
  text-align: center;
  height: 100vh;
}

#header {
  background-color: #f3ca40;
  height: 20vh;
  width: 100vw;
}

#middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 100vw;
}

#main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

#nav {
  height: 15vh;
  width: 100vw;
  background-color: #4b4e6d;
}

#articles {
  width: 100vw;
  height: 30vh;
  background-color: #6a8d92;
}

#ads {
  height: 15vh;
  width: 100vw;
  background-color: #f2a541;
}

#footer {
  height: 20vh;
  width: 100vw;
  background-color: #f08a4b;
}


